<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School</title>
</head>
<body>
<h3 th:text="${school.id} ? 'Edit School' : 'Create School'">School</h3>
<form method="post" th:action="@{/school}" th:object="${school}">
    <input name="id" th:field="*{id}" type="hidden">
    <label for="school-name">Name:</label>
    <input id="school-name" name="name" placeholder="Wild Code School" required th:field="*{name}" type="text">
    <br><br>
    <label for="school-capacity">Capacity:</label>
    <input id="school-capacity" name="capacity" placeholder="40" required th:field="*{capacity}" type="number">
    <br><br>
    <label for="school-country">Country:</label>
    <input id="school-country" name="country" placeholder="France" required th:field="*{country}" type="text">
    <br><br>
    <input type="submit" value="Send">
</form>
<br>
<a href="/schools">Return to the list</a>
</body>
</html>